@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "quicksand";
  src: url("/Quicksand-VariableFont_wght.ttf");
}

@font-face {
  font-family: "poppins";
  src: url("/Poppins-Regular.ttf");
}

@media screen {
  .no-page {
    display: none;
  }
}

@media print {
  .no-print {
    display: none;
  }
}